.firstcreation > h1{
    display:flex;
    width:100%;
    align-items: center;
}
.firstcreation >h1::before,
h1::after{
    content: "";
    background:gray;
    height: .2em;
    flex: 1;
    margin:.2em;
}
.secondcreation >h2{
    display:flex;
    width:100%;
}
.secondcreation >h2::before,
h2::after {
    content: "";
    background:yellow;
    background-image: url("paper.gif");
    flex:1;
}
.headingfonts > h1 {
    font:300 200%.9 FF Meta VF, sans-serif;
    text-align: center;
    background: #ddd;
}

.headingfonts > h1 div:nth-child(1){
    font-size: 1.5em;
    font-weight:190;
}
.headingfonts > h1 div:nth-child(4){
    font-size: 1.5em;
    font-weight:190;
    background: red;
}
